<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.agricommunity.mapper.CartMapper">

    <insert id="insertCart">
        INSERT INTO t_cart (user_id, product_id, quantity)
        VALUES (#{userId}, #{productId}, #{quantity})
    </insert>

    <select id="selectCartList" resultType="com.example.agricommunity.entity.CartVO">
        SELECT
            c.id as cartId,
            p.id as productId,
            p.name as productName,
            p.price as price,
            c.quantity as quantity
        FROM t_cart c
                 INNER JOIN t_product p ON c.product_id = p.id
        WHERE c.user_id = #{userId}
    </select>

    <delete id="deleteCartByUserId"> DELETE FROM t_cart WHERE user_id = #{userId} </delete>
</mapper>