<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.agricommunity.mapper.ProductMapper">

    <select id="selectProductList" resultType="com.example.agricommunity.entity.Product">
        SELECT * FROM t_product
        <where>
            status = 1
            <if test="keyword != null and keyword != ''">
                AND name LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
    </select>

</mapper>